<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title> Welcome to the best Movie Review website </title>
    {% endif %}
</head>

<body>
    <!--Popular movie section-->
    <h3>Popular Movies</h3>
    <ul>
        {% for popular_movie in popular %}
        <li>
            {{ popular_movie.title }}
        </li>
        {% endfor %}
    </ul>

    <hr style="width: auto;">

    <!--Upcoming movies-->
    <h3>Upcoming Movies</h3>
    <ul>
        {% for upcoming_movies in upcoming %}
        <li>{{ upcoming_movies.title }}</li>
        {% endfor %}
    </ul>

    <hr style="width: auto;">

    <!--Now Showing Movies-->
    <h3>Now Showing</h3>
    <ul>
        {% for now_showing_movies in now_showing %}
        <li>{{ now_showing_movies.title }}</li>
        {% endfor %}
    </ul>

</body>

</html>