{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title> Welcome to the best Movie Review website </title>
    {% endif %}
</head>

<body>
    <!--Popular movie section-->
    <h3>Popular Movies</h3>
    <ul>
        {{macro.displayMovieList(popular)}}
    </ul>

    <hr style="width: auto;">

    <!--Upcoming movie section-->
    <h3>Upcoming Movies</h3>
    <ul>
        {{macro.displayMovieList(upcoming)}}
    </ul>

    <hr style="width: auto;">

    <!--Now Showing movie section-->
    <h3>Now Showing </h3>
    <ul>
        {{macro.displayMovieList(now_showing)}}
    </ul>

    <hr style="width: auto;">




</body>

</html>